body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form, .wrapper{
    width: 80%;
    border: 1px solid #f3f4f6;
    padding: 2rem;
    border-radius: 8px;
}
h2{
    text-align: center;
}